@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* GO specific */
  --font-headline: var(--font-headline);
  --font-body: var(--font-body);
  --text-typo-heading-1: var(--typo-heading-1-size);
  --text-typo-heading-1--line-height: var(--typo-heading-1-line-height);
  --text-typo-heading-1--font-weight: var(--typo-heading-1-weight);
  --text-typo-heading-1--letter-spacing: var(--typo-heading-1-letter-spacing);
  --text-typo-heading-2: var(--typo-heading-2-size);
  --text-typo-heading-2--line-height: var(--typo-heading-2-line-height);
  --text-typo-heading-2--font-weight: var(--typo-heading-2-weight);
  --text-typo-heading-2--letter-spacing: var(--typo-heading-2-letter-spacing);
  --text-typo-heading-3: var(--typo-heading-3-size);
  --text-typo-heading-3--line-height: var(--typo-heading-3-line-height);
  --text-typo-heading-3--font-weight: var(--typo-heading-3-weight);
  --text-typo-heading-3--letter-spacing: var(--typo-heading-3-letter-spacing);
  --text-typo-heading-4: var(--typo-heading-4-size);
  --text-typo-heading-4--line-height: var(--typo-heading-4-line-height);
  --text-typo-heading-4--font-weight: var(--typo-heading-4-weight);
  --text-typo-heading-4--letter-spacing: var(--typo-heading-4-letter-spacing);
  --text-typo-body-lg: var(--typo-body-lg-size);
  --text-typo-body-lg--line-height: var(--typo-body-lg-line-height);
  --text-typo-body-lg--font-weight: var(--typo-body-lg-weight);
  --text-typo-body-lg--letter-spacing: var(--typo-body-lg-letter-spacing);
  --text-typo-body-md: var(--typo-body-md-size);
  --text-typo-body-md--line-height: var(--typo-body-md-line-height);
  --text-typo-body-md--font-weight: var(--typo-body-md-weight);
  --text-typo-body-md--letter-spacing: var(--typo-body-md-letter-spacing);
  --text-typo-body-sm: var(--typo-body-sm-size);
  --text-typo-body-sm--line-height: var(--typo-body-sm-line-height);
  --text-typo-body-sm--font-weight: var(--typo-body-sm-weight);
  --text-typo-body-sm--letter-spacing: var(--typo-body-sm-letter-spacing);

  --color-bg-primary: var(--bg-primary);
  --color-bg-primary-foreground: var(--bg-primary-foreground);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-secondary-foreground: var(--bg-secondary-foreground);
  --color-card-primary: var(--card-primary);
  --color-card-primary-foreground: var(--card-primary-foreground);
  --color-card-secondary: var(--card-secondary);
  --color-card-secondary-foreground: var(--card-secondary-foreground);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --select-width: 42rem;

  /* GO specific */

  --font-body: helvetica, sans-serif;

  /* FONTS MOBILE */
  --typo-heading-1-size: 24px;
  --typo-heading-1-weight: 500;
  --typo-heading-1-line-height: 28px;
  --typo-heading-1-letter-spacing: 0;

  --typo-heading-2-size: 22px;
  --typo-heading-2-weight: 500;
  --typo-heading-2-line-height: 26px;
  --typo-heading-2-letter-spacing: 0;

  --typo-heading-3-size: 20px;
  --typo-heading-3-weight: 500;
  --typo-heading-3-line-height: 24px;
  --typo-heading-3-letter-spacing: 0;

  --typo-heading-4-size: 18px;
  --typo-heading-4-weight: 500;
  --typo-heading-4-line-height: 22px;
  --typo-heading-4-letter-spacing: 0;

  --typo-body-lg-size: 16px;
  --typo-body-lg-weight: 300;
  --typo-body-lg-line-height: 22px;
  --typo-body-lg-letter-spacing: 0.01em;

  --typo-body-md-size: 14px;
  --typo-body-md-weight: 300;
  --typo-body-md-line-height: 18px;
  --typo-body-md-letter-spacing: 0.01em;

  --typo-body-sm-size: 12px;
  --typo-body-sm-weight: 300;
  --typo-body-sm-line-height: 16px;
  --typo-body-sm-letter-spacing: 0.01em;

  --bg-primary: #fcfaf8;
  --bg-primary-foreground: #ffffff;
  --bg-secondary: #f6f2ef;
  --bg-secondary-foreground: #ffffff;
  --card-primary: #bee6fa;
  --card-primary-foreground: #195a7d;
  --card-secondary: #ffd2f0;
  --card-secondary-foreground: #642850;
  --shadow-button: 2px 2px 0 0px var(--foreground);
  --shadow-button-hover: 1px 1px 0 0px var(--foreground);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* GO specific */
@media (width >= 1024px) {
  :root {
    --typo-heading-1-size: 52px;
    --typo-heading-1-weight: 500;
    --typo-heading-1-line-height: 58px;
    --typo-heading-1-letter-spacing: 0;

    --typo-heading-2-size: 42px;
    --typo-heading-2-weight: 500;
    --typo-heading-2-line-height: 46px;
    --typo-heading-2-letter-spacing: 0;

    --typo-heading-3-size: 32px;
    --typo-heading-3-weight: 500;
    --typo-heading-3-line-height: 36px;
    --typo-heading-3-letter-spacing: 0;

    --typo-heading-4-size: 24px;
    --typo-heading-4-weight: 500;
    --typo-heading-4-line-height: 27px;
    --typo-heading-4-letter-spacing: 0;

    --typo-body-lg-size: 18px;
    --typo-body-lg-weight: 300;
    --typo-body-lg-line-height: 26px;
    --typo-body-lg-letter-spacing: 0.01em;

    --typo-body-md-size: 16px;
    --typo-body-md-weight: 300;
    --typo-body-md-line-height: 22px;
    --typo-body-md-letter-spacing: 0.01em;

    --typo-body-sm-size: 14px;
    --typo-body-sm-weight: 300;
    --typo-body-sm-line-height: 18px;
    --typo-body-sm-letter-spacing: 0.01em;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .w-select {
    width: var(--select-width);
  }
  .max-w-select {
    max-width: var(--select-width);
  }
  .popoverContent {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }

  /* GO specific */
  .shadow-button {
    box-shadow: var(--shadow-button);
  }
  .shadow-button-hover {
    box-shadow: var(--shadow-button-hover);
  }

  .text-typo-heading-1,
  .text-typo-heading-2,
  .text-typo-heading-3,
  .text-typo-heading-4 {
    font-family: var(--font-headline);
  }

  .text-typo-heading-1 {
    font-size: var(--typo-heading-1-size);
    font-weight: var(--typo-heading-1-weight);
    line-height: var(--typo-heading-1-line-height);
    letter-spacing: var(--typo-heading-1-letter-spacing);
  }

  .text-typo-heading-2 {
    font-size: var(--typo-heading-2-size);
    font-weight: var(--typo-heading-2-weight);
    line-height: var(--typo-heading-2-line-height);
    letter-spacing: var(--typo-heading-2-letter-spacing);
  }

  .text-typo-heading-3 {
    font-size: var(--typo-heading-3-size);
    font-weight: var(--typo-heading-3-weight);
    line-height: var(--typo-heading-3-line-height);
    letter-spacing: var(--typo-heading-3-letter-spacing);
  }

  .text-typo-heading-4 {
    font-size: var(--typo-heading-4-size);
    font-weight: var(--typo-heading-4-weight);
    line-height: var(--typo-heading-4-line-height);
    letter-spacing: var(--typo-heading-4-letter-spacing);
  }

  .text-typo-body-lg,
  .text-typo-body-md,
  .text-typo-body-sm {
    font-family: var(--font-body);
  }

  .text-typo-body-lg {
    font-size: var(--typo-body-lg-size);
    font-weight: var(--typo-body-lg-weight);
    line-height: var(--typo-body-lg-line-height);
    letter-spacing: var(--typo-body-lg-letter-spacing);
  }

  .text-typo-body-md {
    font-size: var(--typo-body-md-size);
    font-weight: var(--typo-body-md-weight);
    line-height: var(--typo-body-md-line-height);
    letter-spacing: var(--typo-body-md-letter-spacing);
  }

  .text-typo-body-sm {
    font-size: var(--typo-body-sm-size);
    font-weight: var(--typo-body-sm-weight);
    line-height: var(--typo-body-sm-line-height);
    letter-spacing: var(--typo-body-sm-letter-spacing);
  }
}
